.forecast-container {
    margin-bottom: 75px;
}

.forecast-container >p {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.forecast {
    display: flex;
    margin: 0;
    padding-left: 0;
}


.forecast > li {
    flex-basis: 12.5%;
    list-style: none;
    padding: 0 10px;
    border-right: 1px solid;
}

.forecast > li:last-child {
    border-right: none;
}

@media only screen
  /* and (min-device-width: 768px) */
  and (max-device-width: 900px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .forecast {
        overflow-x: scroll;
        overflow-y: visible;
    }

    .forecast > li {
        flex-basis: 25%;
        flex-grow: 0;
        flex-shrink: 0;
    }

}