html {
  background: linear-gradient(215deg, #4C87C1, #81BFD8) fixed;
  background-size: cover;
}

body {
  font-family: 'quicksand';
  font-weight: 500;
  color: #F0F2E5;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

main {
  padding-left: 20px;
  padding-right: 20px;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}