form {
    max-width: 620px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 10px;
    background:rgba(255,255,255, .95);
    color: #284157;
    border-radius: 5px;
    box-shadow: rgba(0,0,0, .25) 2px 2px 15px;
}

form > p {
    font-size: 10px;
    text-align: center;
}

input[type="search"] {
    padding: 20px 10px;
    border-radius: 5px 0px 0 5px;
    border: 1px solid #EEE;
    border-right: none;
    width: 80%;
    margin-top: 20px;
    font-family: quicksand;
    font-weight: 600;
}

input[type="submit"] {
    padding: 20px 10px;
    width: 20%;
    border: none;
    background: #284157;
    color: white;
    text-transform: uppercase;
    font-family: quicksand;
    font-weight: 300;
    border-radius: 0 5px 5px 0;
}

input[type="submit"]:hover {
    opacity: .8;
    transition: all .5s ease-out;
}

label {
    display: block;
    text-align: center;
}

@media only screen
  /* and (min-device-width: 768px) */
  and (max-device-width: 900px)
  and (-webkit-min-device-pixel-ratio: 1) {

    input[type="search"] {
        width: 70%;
    }

    input[type="submit"] {
        width: 30%;
    }

}